DirectoryIndex index.html
ErrorDocument 404 404.html

RewriteEngine On
Options -MultiViews

RewriteRule ^index\.html$ ./ [R=301,L]
RewriteRule ^portfolio\.html$ portfolio/ [R=301,L]
RewriteRule ^contact\.html$ kontakt/ [R=301,L]
RewriteRule ^contact/?$ kontakt/ [R=301,L]
